/* Index page */
.main-title {
    text-align: center;
    color: #e3e3e3;
    padding: 10px;
    font-weight: bold;
    font-size: 70px;
    background: linear-gradient(to bottom, #9370db, rebeccapurple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px black;
    filter: drop-shadow(5px 5px black);
}

.background {
    background-color: #2a2929;
}

#pills-tab {
    background-color: #383838 !important;
    border: 1px solid white;
    border-radius: 3px;
}

.tab-pane {
    color: #e3e3e3
}

.rows-length {
    text-align: center;
    opacity: 50%;
}

.table th.col-hash,
.table td.col-hash {
    width: 5%;
}

.table th.col-name,
.table td.col-name {
    width: 35%;
}

.table th.col-link,
.table td.col-link {
    width: 35%;
}

.table th.col-delete,
.table td.col-delete {
    width: 8%;
    text-align: center;
}

.trash {
    text-align: center;
}

#category {
     --bs-btn-border-color: #9370db !important;
}

.nav-pills .nav-link {
    color: white !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        background-color: rebeccapurple !important;
}

.card-header {
    background-color: #383838 !important;
    color: white !important;
}

.card-body {
    background-color: #383838 !important;
    color: white !important;
}

.btn-primary {
    background-color: rebeccapurple !important;
    --bs-btn-border-color: #9370db !important;
    --bs-btn-hover-border-color: rebeccapurple !important;
}

.row>* {
    padding-right: 0 !important;
    padding-left: 0 !important;
}