<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Resource Saver</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://kit.fontawesome.com/16dccbf5d8.js" crossorigin="anonymous"></script>
</head>
    <div id='root'></div>
    <body class="background">
        <script type="text/babel">

            const App = () => {

                const [loadingDone, setLoadingDone] = React.useState(false)
                const [categories, setCategories] = React.useState(["All"])
                const [rowsData, setRowsData] = React.useState([])

                 React.useEffect(() => {
                     try {
                        fetch('/get_data_on_page_load')
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Failed to submit entry');
                                }
                                return response.json();
                            })
                            .then(responseData => {
                                let uniqueCategories = new Set(categories);
                                const tempResultArray = []

                                for (let i = 0; i < responseData.collections.length; i++) {
                                    if (!uniqueCategories.has(responseData.collections[i].category)) {
                                        uniqueCategories.add(responseData.collections[i].category);
                                    }
                                    let { name, link, category } = responseData.collections[i];
                                    tempResultArray.push({ name, link, category });
                                }

                                setRowsData(tempResultArray)
                                setCategories(Array.from(uniqueCategories));
                                setLoadingDone(true)
                            })
                            .catch(error => {
                                console.error('Error submitting entry:', error);
                            });
                    } catch (error) {
                        console.error('Error submitting entry:', error);
                    }
                }, [])

                return (
                    <>
                        <h1 className="main-title">Online Resource Saver</h1>
                        {loadingDone ? <MainTable rowsData={rowsData} categories={categories} setCategories={setCategories} /> : null}
                    </>
                )
            }

            const MainTable = ({rowsData, categories, setCategories}) => {
                const [category, setCategory] = React.useState('');
                const [showSuccessAlert, setShowSuccessAlert] = React.useState(null);

                function is_valid_category(categories) {
                    for(let i = 0; i < categories.length; i++) {
                        if(category === categories[i]) {
                            return false;
                        }
                    }
                    return true;
                }

                const handleAddCategory = event => {

                    if (category !== "" && is_valid_category(categories)) {
                        event.preventDefault();
                        setCategories([...categories, category.toString()]);
                        setShowSuccessAlert(true);
                        setCategory('')
                    }
                    else {
                        setShowSuccessAlert(false);
                    }
                }

                 React.useEffect(() => {
                    const timer = setTimeout(() => {
                        setShowSuccessAlert(null);
                    }, 3000);
                    return () => clearTimeout(timer);
                }, [showSuccessAlert]);

                return (
                    <>
                        <div className="container">
                            <div className="row">
                                <ul className="nav nav-pills mb-3 mx-auto mt-3" id="pills-tab" role="tablist">
                                    {categories.map((category, index) => (
                                        <li className="nav-item d-flex align-items-center" role="presentation"
                                            key={index}>
                                            {category !== "All" ?
                                                <button className={`nav-link ${index === 0 ? 'active' : ''}`}
                                                        id={`pills-${category.split(' ').join('')}-tab tabs-custom`}
                                                        data-bs-toggle="pill"
                                                        data-bs-target={`#pills-${category.split(' ').join('')}`}
                                                        type="button" role="tab"
                                                        aria-controls={`pills-${category.split(' ').join('')}`}
                                                        aria-selected={index === 0 ? 'true' : 'false'}>{category}</button>
                                                :
                                                <button className={`nav-link ${index === 0 ? 'active' : ''}`}
                                                        id={`pills-${category.split(' ').join('')}-tab tabs-custom`}
                                                        data-bs-toggle="pill"
                                                        data-bs-target={`#pills-${category.split(' ').join('')}`}
                                                        type="button" role="tab"
                                                        aria-controls={`pills-${category.split(' ').join('')}`}
                                                        aria-selected={index === 0 ? 'true' : 'false'}
                                                        onClick={e => window.location.reload()}>{category}
                                                </button>
                                            }
                                            {index === categories.length - 1 ?
                                                <>
                                                    <input type="text" className="form-control ml-2" id="category"
                                                           placeholder="Enter Category:"
                                                           onChange={e => setCategory(e.target.value)}/>
                                                    <button type="button" className="btn btn-primary"
                                                            onClick={handleAddCategory}>
                                                        <i className="fa-solid fa-plus"></i>
                                                    </button>
                                                    {showSuccessAlert && (
                                                        <div className="alert alert-success position-fixed top-0 end-0" role="alert">
                                                            <strong>Category added successfully!</strong>
                                                            <br></br>
                                                            <small>Category will not save if there is no entries inside</small>
                                                        </div>
                                                    )}
                                                    {showSuccessAlert === false && (
                                                        <div className="alert alert-danger position-fixed top-0 end-0" role="alert">
                                                            <strong>There was an Error when adding a category!</strong>
                                                        </div>
                                                    )}
                                                </> : null
                                            }
                                        </li>
                                    ))}
                                </ul>
                                <div className="tab-content" id="pills-tabContent">
                                {categories.map((category, index) => (
                                        <div className={`tab-pane fade ${index === 0 ? 'show active' : ''}`}
                                             id={`pills-${category.split(' ').join('')}`} role="tabpanel"
                                             aria-labelledby={`pills-${category.split(' ').join('')}-tab`} key={index}>
                                            <Table rowsData={rowsData} categories={categories} setCategories={setCategories} index={index} currentCategory={category}/>
                                        </div>
                                    ))}
                                </div>
                            </div>
                        </div>
                    </>
                );
            }

            const Table = ({rowsData, categories, setCategories, index, currentCategory}) => {

                const [rows, setRows] = React.useState([])
                const [showSuccessAlert, setShowSuccessAlert] = React.useState(null);

                React.useEffect(() => {
                    if(currentCategory !== "All") {
                        let rowsArr = []

                        for (let i = 0; i < rowsData.length; i++) {
                            if (rowsData[i].category === currentCategory) {
                                let {name, link, category} = rowsData[i];
                                rowsArr.push({name, link, category});
                            }
                        }
                        setRows(rowsArr)
                    }
                    else {
                        try {
                            fetch('/get_all_entries')
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error('Failed to submit entry');
                                    }
                                    return response.json();
                                })
                                .then(responseData => {
                                    setRows(responseData.collections)
                                })
                            .catch(error => {
                                console.error('Error submitting entry:', error);
                            });
                        } catch (error) {
                            console.error('Error submitting entry:', error);
                        }
                    }
                }, [])

                 React.useEffect(() => {
                    const timer = setTimeout(() => {
                        setShowSuccessAlert(null);
                    }, 3000);
                    return () => clearTimeout(timer);
                }, [showSuccessAlert]);

                const handleDeleteCategory = (index, currentCategory) => async() => {

                    try {
                            const response = await fetch('/delete_category', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: currentCategory
                            });

                            if (response.ok) {
                                const newCategories = categories.filter((category, i) => i !== index);
                                setCategories(newCategories)
                                setRows([])
                            } else {
                                throw new Error('Failed to submit entry');
                            }
                        } catch (error) {
                            console.error('Error submitting entry:', error);
                        }
                }

                return (
                    <>
                        <div className="card">
                          <div className="card-header d-flex justify-content-between align-items-center">
                            <span>{currentCategory}</span>
                              {index !== 0 &&
                                  <button type="button" className="btn btn-link text-danger p-0"
                                          onClick={handleDeleteCategory(index, currentCategory)}>
                                      <i className="fa-solid fa-trash"></i>
                                  </button>
                              }
                          </div>
                            <div className="card-body">
                                {currentCategory !== "All" ?
                                    <h5 className="card-title">Enter an Entry:</h5>:
                                    null
                                }
                                {currentCategory !== "All" ?
                                    <InputGroup setRows={setRows} rows={rows} setCategories={setCategories}
                                                categories={categories}
                                                currentCategory={currentCategory}></InputGroup> :
                                    null}
                                <h5 className="card-title">Saved Entries:</h5>
                                {rows.length > 0 ?
                                    <table className="table table-striped table-dark table-hover table-bordered">
                                        <thead>
                                        <tr>
                                            <th scope="col" className="col-hash">#</th>
                                            <th scope="col" className="col-name">Name</th>
                                            <th scope="col" className="col-link">Link</th>
                                            {currentCategory !== "All" ? <th scope="col" className="col-delete">Delete</th> :
                                                <th scope="col">Category</th>}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {rows.map(({link, name, category}, index) => (
                                            <Row key={index}
                                                 index={index}
                                                 link={link}
                                                 name={name}
                                                 category={category}
                                                 rows={rows}
                                                 setRows={setRows}
                                                 currentCategory={currentCategory}
                                                 setShowSuccessAlert={setShowSuccessAlert}
                                            />
                                        ))}
                                        </tbody>
                                    </table> :
                                    <p className="rows-length">This category is empty...</p>}
                                        {showSuccessAlert && (
                                            <div className="alert alert-success position-fixed top-0 end-0" role="alert">
                                                <strong>Entry deleted successfully!</strong>
                                            </div>
                                        )}
                                        {showSuccessAlert === false && (
                                            <div className="alert alert-danger position-fixed top-0 end-0" role="alert">
                                                <strong>There was an Error when deleting an entry!</strong>
                                            </div>
                                        )}
                            </div>
                        </div>
                    </>
                )
            }

            const Row = ({index, link, name, category, rows, setRows, currentCategory, setShowSuccessAlert}) => {


                const handleDelete = (index, currentCategory) => async() => {

                    const data = {
                        currentCategory: currentCategory,
                        index: index
                    }

                    try {
                        const response = await fetch('/delete_row', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        });

                        if (response.ok) {
                            const newRows = rows.filter((row, i) => i !== index);
                            setRows(newRows)
                            setShowSuccessAlert(true);
                        } else {
                            throw new Error('Failed to submit entry');
                        }
                    } catch (error) {
                        console.error('Error submitting entry:', error);
                    }
                }

                return (
                    <>
                        <tr>
                            <th scope="row">{index + 1}</th>
                            <td>{name}</td>
                            <td><a href={link}>{link}</a></td>
                            {currentCategory !== "All" ? <td className="trash">
                                <button type="button" className="btn btn-link text-danger p-0"
                                        onClick={handleDelete(index, currentCategory)}>
                                    <i className="fa-solid fa-trash"></i>
                                </button>
                            </td> :
                            <td>{category}</td>}
                        </tr>
                    </>
                )
            }

            const InputGroup = ({ setRows, rows, currentCategory }) => {
                const [name, setName] = React.useState('');
                const [link, setLink] = React.useState('');
                const [showSuccessAlert, setShowSuccessAlert] = React.useState(null);

                function isValidUrl(urlInput) {
                    try {
                        const url = new URL(urlInput);
                        return url.protocol === 'http:' || url.protocol === 'https:';
                    } catch (err) {
                        return false;
                    }
                }

                const handleSubmitEntry = async event => {
                    event.preventDefault();

                    if (name !== "" && link !== "" && isValidUrl(link)) {
                        const data = {
                            "category": currentCategory,
                            "name": name.toString(),
                            "link": link.toString()
                        }
                        try {
                            const response = await fetch('/submit_entry', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(data)
                            });

                            if (response.ok) {
                                setRows([...rows, data]);
                                setShowSuccessAlert(true);
                                setName('');
                                setLink('');
                            } else {
                                throw new Error('Failed to submit entry');
                            }
                        } catch (error) {
                            console.error('Error submitting entry:', error);
                        }
                    } else {
                        setShowSuccessAlert(false);
                        setTimeout(() => setShowSuccessAlert(false), 3000);
                    }
                };

                React.useEffect(() => {
                    const timer = setTimeout(() => {
                        setShowSuccessAlert(null);
                    }, 3000);
                    return () => clearTimeout(timer);
                }, [showSuccessAlert]);

                return (
                    <>
                        <div className="input-group mb-3">
                            <input
                                type="text"
                                className="form-control"
                                placeholder="Name"
                                aria-label="Username"
                                value={name}
                                onChange={e => setName(e.target.value)}
                            />
                            <span className="input-group-text"><i className="fa-solid fa-font"></i></span>
                            <input
                                type="text"
                                className="form-control"
                                placeholder="Link: https://example.com"
                                aria-label="Server"
                                value={link}
                                onChange={e => setLink(e.target.value)}
                            />
                            <span className="input-group-text"><i className="fa-solid fa-link"></i></span>
                            <button type="button" className="btn btn-primary" onClick={handleSubmitEntry}>
                                <i className="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        {showSuccessAlert && (
                            <div className="alert alert-success position-fixed top-0 end-0" role="alert">
                                <strong>Entry submitted successfully!</strong>
                            </div>
                        )}
                        {showSuccessAlert === false && (
                            <div className="alert alert-danger position-fixed top-0 end-0" role="alert">
                                <strong>Error when adding entry</strong>
                            </div>
                        )}
                    </>
                )
            }

            const root = ReactDOM.createRoot(document.getElementById('root'));
            root.render(<App/>);
        </script>
    </body>
</html>